@use '../variables' as *;
@use '../mixins' as *;

.top_bar {
  position: relative;


  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icons {
   display: flex;
   gap: 24px;
  }

  &__logo-link {
    display: flex;
  }

  &__logo-link-menu {
    display: flex;
  }

  &__logo {
    height: 46px;

    @include on-tablet {
      height: 65px;
    }

    @include hover(transform, scale(120%));
  }

  &__logo-menu {
    height: 46px;

    @include on-desktop {
      height: 65px;
    }
  }
}

.header .top_bar__icons,
.menu .top_bar__icons {
  position: absolute;
  right: 20px;

  top: 0;
  height: 100%;

  display: flex;
  align-items: center;
}

@include on-tablet {
  .header .top_bar__icons,
  .menu .top_bar__icons {
    right: 5px;
  }
}

@include on-desktop {
  .header .top_bar__icons,
  .menu .top_bar__icons {
    right: 10px;
  }
}
