.page {
  scroll-behavior: smooth;
}
.page__body {
  margin: 0;
  min-width: 320px;
}
.page__menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  transform: translateX(-100%);
}
.page__menu:target {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}

.page:has(.page__menu:target) {
  overflow: hidden;
  height: 100vh;
}

.header {
  color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-image: url(../images/bg-header-mobile.png);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header__top {
  margin-top: 25px;
  margin-inline: 20px;
}
@media (min-width: 576px) {
  .header__top {
    margin-inline: 72px;
  }
}
@media (min-width: 576px) {
  .header__top {
    margin-top: 50px;
  }
}
@media (min-width: 1024px) {
  .header__top {
    margin-inline: 120px;
  }
}
.header__bottom {
  box-sizing: border-box;
  flex: 1;
  padding-inline: 20px;
}
@media (min-width: 576px) {
  .header__bottom {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .header__bottom {
    padding-inline: 120px;
  }
}
.header__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}
.header__title {
  margin: 0;
  font-family: Cinzel, serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -1.5px;
  font-size: 40px;
  line-height: 100%;
  transform: translateY(-100%);
}
@media (min-width: 576px) {
  .header__title {
    transform: translateY(-95%);
  }
}
@media (min-width: 1024px) {
  .header__title {
    transform: translateY(-115%);
  }
}
@media (min-width: 576px) {
  .header__title {
    font-size: 64px;
  }
}
@media (min-width: 1024px) {
  .header__title {
    font-size: 80px;
  }
}

.top_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top_bar__icons {
  display: flex;
  gap: 24px;
}
.top_bar__logo-link {
  display: flex;
}
.top_bar__logo-link-menu {
  display: flex;
}
.top_bar__logo {
  height: 46px;
}
@media (min-width: 576px) {
  .top_bar__logo {
    height: 65px;
  }
}
.top_bar__logo {
  transition: transform 0.3s;
}
.top_bar__logo:hover {
  transform: scale(120%);
}
.top_bar__logo-menu {
  height: 46px;
}
@media (min-width: 1024px) {
  .top_bar__logo-menu {
    height: 65px;
  }
}

.icon {
  display: block;
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
}
.icon:hover {
  transform: scale(120%);
}
@media (min-width: 576px) {
  .icon {
    width: 32px;
    height: 32px;
  }
}
.icon--phone {
  background-image: url(../images/Icon-Phone-call-x2.png);
  background-size: cover;
}
.icon--menu {
  background-image: url(../images/Icon-Burger-menu-x2.png);
  background-size: cover;
}
.icon--menu:hover {
  background-image: url(../images/Icon-Burger-menu-hover.png);
  background-size: cover;
}
.icon--close {
  background-image: url(../images/Icon-Close-x2.png);
  background-size: cover;
}

.menu {
  box-sizing: border-box;
  height: 100vh;
  background-color: #d12d35;
  font-weight: 700;
  font-family: Cinzel, serif;
  text-transform: uppercase;
}
.menu__content {
  padding-inline: 20px;
}
@media (min-width: 576px) {
  .menu__content {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .menu__content {
    padding-inline: 120px;
  }
}
.menu__top {
  margin-top: 25px;
  margin-inline: 20px;
}
@media (min-width: 576px) {
  .menu__top {
    margin-inline: 72px;
  }
}
@media (min-width: 576px) {
  .menu__top {
    margin-top: 32px;
  }
}
@media (min-width: 1024px) {
  .menu__top {
    margin-inline: 120px;
  }
}
.menu__navigation {
  margin-bottom: 32px;
  margin-top: 40px;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 22px;
  line-height: 22px;
}
.nav__link {
  position: relative;
  color: #fff;
  text-decoration: none;
}
.nav__link::after {
  content: "";
  position: absolute;
  bottom: -8px;
  background-color: #fff;
  height: 1px;
  display: block;
  width: 100%;
  transition: transform 0.3s;
  transform: scale(0);
  transform-origin: left;
}
.nav__link:hover::after {
  transform: scale(1);
}

.contacts {
  color: #fff;
  font-size: 16px;
  line-height: 27px;
}
.contacts__avenue {
  margin-bottom: 8px;
}
.contacts__street {
  margin: 0;
}
.contacts__number {
  color: #fff;
  text-decoration: none;
}
.contacts__call {
  margin-top: 16px;
}
.contacts__order {
  color: #fff;
  text-decoration: none;
  line-height: 16px;
  font-size: 12px;
  letter-spacing: 2px;
  width: fit-content;
  padding-bottom: 7px;
  border-bottom: #fff 1px solid;
}

@media (min-width: 576px) {
  .about_us {
    display: flex;
    place-content: center;
    gap: 24px;
  }
}
.about_us__wrapper {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  place-content: flex-start;
  padding-inline: 20px;
  padding-top: 100px;
  padding-bottom: 32px;
}
@media (min-width: 576px) {
  .about_us__wrapper {
    padding-top: 140px;
    padding-inline-start: 72px;
  }
}
@media (min-width: 1024px) {
  .about_us__wrapper {
    padding-top: 138px;
  }
}
@media (min-width: 576px) {
  .about_us__content {
    margin-top: 115px;
  }
}

.section_title {
  font-family: Cinzel, serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  margin: 0;
  text-align: center;
}
@media (min-width: 576px) {
  .section_title {
    font-size: 48px;
  }
}
.section_title--2 {
  margin: 0;
  order: 2;
  font-family: Cinzel, serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-align: left;
}
@media (min-width: 576px) {
  .section_title--2 {
    font-size: 48px;
    line-height: 48px;
  }
}
.section_title__description {
  margin-top: 5px;
  margin-bottom: 0;
  font-family: Cinzel, serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  line-height: 27px;
  color: #161616;
}
.section_title__description--now_on_view {
  margin-top: 8px;
}
@media (min-width: 576px) {
  .section_title__description--now_on_view {
    max-width: 400px;
  }
}
@media (min-width: 1024px) {
  .section_title__description--now_on_view {
    max-width: 325px;
  }
}
.section_title__description--red {
  margin: 0;
  order: 1;
  font-family: Cinzel, serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 140%;
  color: #d12d35;
  text-align: start;
}

.now_on_view {
  padding-inline: 20px;
}
@media (min-width: 576px) {
  .now_on_view {
    padding-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .now_on_view {
    padding-inline: 120px;
  }
}
.now_on_view {
  max-width: 1020px;
  margin: 0 auto;
}
.now_on_view__wrapper {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  place-content: center;
  padding-inline: 20px;
  padding-top: 100px;
  padding-bottom: 48px;
}
.now_on_view__select {
  display: flex;
  place-content: center;
  flex-wrap: wrap;
}
.now_on_view__button {
  width: 280px;
  height: 56px;
  background-color: #d12d35;
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
  transition: all 0.3s;
}
@media (min-width: 576px) {
  .now_on_view__button {
    width: 392px;
    height: 56px;
  }
}
.now_on_view__button:hover {
  background-color: #ae1c23;
}
.now_on_view__button:active {
  background-color: #eb343d;
}
.now_on_view__view-all {
  color: #fff;
  text-decoration: none;
  line-height: 56px;
  font-family: Cinzel, serif;
  font-weight: 700;
  font-size: 16px;
}

.explore_online {
  margin-inline: 20px;
}
@media (min-width: 576px) {
  .explore_online {
    margin-inline: 72px;
  }
}
@media (min-width: 1024px) {
  .explore_online__content {
    display: flex;
    gap: 24px;
    place-content: center;
  }
}
.explore_online__title {
  padding-top: 100px;
  padding-bottom: 40px;
  margin: 0 auto;
  max-width: 280px;
}
@media (min-width: 576px) {
  .explore_online__title {
    padding-bottom: 48px;
    max-width: 400px;
    line-height: 48px;
  }
}
@media (min-width: 1024px) {
  .explore_online__title {
    max-width: 500px;
  }
}

.contact_us {
  margin-inline: 20px;
}
@media (min-width: 576px) {
  .contact_us {
    margin-inline: 72px;
  }
}
.contact_us__title {
  margin-top: 100px;
  margin-bottom: 48px;
}
@media (min-width: 576px) {
  .contact_us__title {
    margin-bottom: 48px;
  }
}
@media (min-width: 1024px) {
  .contact_us__content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
  }
}
.contact_us__button {
  display: flex;
  place-content: center;
}
@media (min-width: 576px) {
  .contact_us__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 75px;
    justify-content: center;
  }
}

.work_time {
  margin-inline: 20px;
}
@media (min-width: 576px) {
  .work_time {
    margin-inline: 72px;
  }
}
.work_time__place {
  font-family: Cinzel, serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #161616;
  margin-bottom: 16px;
}
.work_time__wrapper {
  display: flex;
  column-gap: 24px;
}
.work_time__till {
  font-family: Cinzel, serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #161616;
  margin: 0 0 8px;
}
.work_time__till:last-child {
  margin: 0 0 16px;
}
.work_time__day {
  margin: 0 0 8px;
  font-family: Cinzel, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #161616;
}
.work_time__closed {
  font-family: Cinzel, serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #161616;
  margin: 0;
}
.work_time__closed-days {
  font-family: Cinzel, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #161616;
  margin: 0;
}

.gallery {
  display: flex;
  justify-content: center;
}
.gallery__title {
  font-family: Cinzel, serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #d12d35;
  margin: 0;
  max-width: 280px;
  transition: all 0.3s;
}
@media (min-width: 576px) {
  .gallery__title {
    max-width: 100%;
  }
}
.gallery__title:hover {
  transform: scale(1.1);
  transform-origin: left;
}
.gallery__description {
  font-family: Cinzel, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #161616;
  margin: 0 0 48px;
  max-width: 280px;
}
@media (min-width: 576px) {
  .gallery__description {
    max-width: 100%;
  }
}
.gallery__description:last-child {
  margin: 0 0 40px;
}
.gallery__pictures {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}
.gallery__pictures {
  cursor: pointer;
}
.gallery__pictures--3--pictures {
  display: flex;
  justify-content: center;
}
.gallery__pictures-new-look {
  background-image: url(../images/new-look.png);
  width: 130px;
  height: 130px;
  background-size: cover;
  margin-right: 20px;
  transition: all 0.3s;
}
@media (min-width: 576px) {
  .gallery__pictures-new-look {
    background-image: url(../images/new-look-wide.png);
    width: 392px;
    height: 186px;
    margin-right: 24px;
  }
}
@media (min-width: 1024px) {
  .gallery__pictures-new-look {
    background-image: url(../images/new-look-big.png);
    width: 672px;
    height: 320px;
  }
}
.gallery__pictures-new-look:hover {
  transform: scale(1.05);
}
.gallery__pictures-men {
  background-image: url(../images/men.png);
  width: 130px;
  height: 130px;
  background-size: cover;
  transition: all 0.3s;
}
@media (min-width: 576px) {
  .gallery__pictures-men {
    width: 184px;
    height: 186px;
  }
}
@media (min-width: 1024px) {
  .gallery__pictures-men {
    background-image: url(../images/men-big.png);
    width: 324px;
    height: 320px;
  }
}
.gallery__pictures-men:hover {
  transform: scale(1.05);
}
.gallery__pictures-shiva {
  background-image: url(../images/shiva.png);
  width: 88px;
  height: 87px;
  background-size: cover;
  margin-right: 8px;
  transition: all 0.3s;
}
@media (min-width: 576px) {
  .gallery__pictures-shiva {
    width: 288px;
    height: 284px;
    margin-right: 24px;
  }
}
@media (min-width: 1024px) {
  .gallery__pictures-shiva {
    background-image: url(../images/shiva-big.png);
    width: 324px;
    height: 320px;
  }
}
.gallery__pictures-shiva:hover {
  transform: scale(1.05);
}
.gallery__pictures-carpet {
  background-image: url(../images/carpet.png);
  width: 88px;
  height: 87px;
  background-size: cover;
  margin-right: 8px;
  transition: all 0.3s;
}
@media (min-width: 576px) {
  .gallery__pictures-carpet {
    width: 288px;
    height: 284px;
    margin-right: 0;
  }
}
@media (min-width: 1024px) {
  .gallery__pictures-carpet {
    background-image: url(../images/carpet-big.png);
    width: 324px;
    height: 320px;
    margin-right: 24px;
  }
}
.gallery__pictures-carpet:hover {
  transform: scale(1.05);
}
.gallery__pictures-demon {
  background-image: url(../images/demon.png);
  width: 88px;
  height: 87px;
  background-size: cover;
  transition: all 0.3s;
}
@media (min-width: 576px) {
  .gallery__pictures-demon {
    display: none;
  }
}
@media (min-width: 1024px) {
  .gallery__pictures-demon {
    display: block;
  }
}
@media (min-width: 1024px) {
  .gallery__pictures-demon {
    background-image: url(../images/demon-big.png);
    width: 324px;
    height: 320px;
    visibility: visible;
  }
}
.gallery__pictures-demon:hover {
  transform: scale(1.05);
}
.gallery__pictures-clock {
  background-image: url(../images/clock.png);
  width: 130px;
  height: 130px;
  background-size: cover;
  margin-right: 20px;
  transition: all 0.3s;
}
@media (min-width: 576px) {
  .gallery__pictures-clock {
    width: 184px;
    height: 186px;
    margin-right: 24px;
  }
}
@media (min-width: 1024px) {
  .gallery__pictures-clock {
    background-image: url(../images/clock-big.png);
    width: 324px;
    height: 320px;
  }
}
.gallery__pictures-clock:hover {
  transform: scale(1.05);
}
.gallery__pictures-statue {
  background-image: url(../images/statue.png);
  width: 130px;
  height: 130px;
  background-size: cover;
  transition: all 0.3s;
}
@media (min-width: 576px) {
  .gallery__pictures-statue {
    background-image: url(../images/statue-wide.png);
    width: 392px;
    height: 186px;
  }
}
@media (min-width: 1024px) {
  .gallery__pictures-statue {
    background-image: url(../images/statue-big.png);
    width: 672px;
    height: 320px;
  }
}
.gallery__pictures-statue:hover {
  transform: scale(1.05);
}

.exhibition__title {
  font-family: Cinzel, serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #d12d35;
  margin: 0 0 4px;
  transition: all 0.3s;
}
.exhibition__title:hover {
  transform: scale(1.1);
}
.exhibition__description {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  text-align: center;
  margin-bottom: 48px;
  margin-inline: auto;
  color: #161616;
  max-width: 325px;
}
.exhibition__pictures {
  display: flex;
  place-content: center;
}
.exhibition__pictures-alien {
  background-image: url(../images/alien.png);
  width: 280px;
  height: 277px;
  background-size: cover;
  margin-bottom: 24px;
}
.exhibition__pictures-egypt {
  background-image: url(../images/egypt.png);
  width: 280px;
  height: 277px;
  background-size: cover;
  margin-bottom: 24px;
}
.exhibition__pictures-tours {
  background-image: url(../images/tours.png);
  width: 280px;
  height: 277px;
  background-size: cover;
  margin-bottom: 24px;
}

.contact {
  margin-bottom: 48px;
}
.contact__name {
  font-family: Cinzel, serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #3e3e3e;
  margin: 0 0 16px;
}
.contact__phone-title {
  font-family: Cinzel, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #161616;
  margin: 0 0 4px;
}
.contact__phone {
  font-family: Cinzel, serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  color: #3e3e3e;
  margin: 0 0 8px;
  text-decoration: none;
}
.contact__adress-title {
  font-family: Cinzel, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  color: #161616;
}
.contact__adress {
  font-family: Cinzel, serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #3e3e3e;
  text-decoration: none;
}

@media (min-width: 576px) {
  .form {
    margin: 0;
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__name {
  box-sizing: border-box;
  height: 48px;
  font-family: Cinzel, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-top: 7px;
  padding-left: 11px;
  background-color: #f8f8fa;
  border: none;
  margin-bottom: 16px;
  width: 280px;
}
@media (min-width: 576px) {
  .form__name {
    width: 288px;
  }
}
@media (min-width: 1024px) {
  .form__name {
    width: 411px;
  }
}
.form__name::placeholder {
  color: #7e7e83;
}
.form__name:hover::placeholder {
  color: #161616;
}
.form__email {
  box-sizing: border-box;
  height: 48px;
  font-family: Cinzel, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  padding-top: 7px;
  padding-left: 11px;
  background-color: #f8f8fa;
  border: none;
  margin-bottom: 16px;
  width: 280px;
}
@media (min-width: 576px) {
  .form__email {
    width: 288px;
  }
}
@media (min-width: 1024px) {
  .form__email {
    width: 411px;
  }
}
.form__email::placeholder {
  color: #7e7e83;
}
.form__email:hover::placeholder {
  color: #161616;
}
.form__message {
  resize: none;
  box-sizing: border-box;
  width: 280px;
  height: 144px;
  font-family: Cinzel, serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: #f8f8fa;
  padding-top: 14px;
  padding-left: 11px;
  border: none;
  margin-bottom: 32px;
}
@media (min-width: 576px) {
  .form__message {
    width: 288px;
  }
}
@media (min-width: 1024px) {
  .form__message {
    width: 411px;
  }
}
.form__message::placeholder {
  color: #7e7e83;
}
.form__message:hover::placeholder {
  color: #161616;
}
.form__button {
  height: 56px;
  border: none;
  background: transparent;
  background-color: #d12d35;
  padding: 0;
  cursor: pointer;
  outline: none;
  color: #fff;
  transition: all 0.3s;
  font-family: Cinzel, serif;
  font-weight: 700;
  font-size: 16px;
  width: 280px;
}
@media (min-width: 576px) {
  .form__button {
    width: 288px;
  }
}
@media (min-width: 1024px) {
  .form__button {
    width: 411px;
  }
}
.form__button:hover {
  background-color: #ae1c23;
  cursor: pointer;
}
.form__button:active {
  background-color: #eb343d;
}

.footer__picture {
  background-image: url(../images/footer.png);
  background-size: contain;
  height: 180px;
  margin-top: 100px;
}
@media (min-width: 576px) {
  .footer__picture {
    background-image: url(../images/footer-x2.png);
    height: 359px;
  }
}
@media (min-width: 1024px) {
  .footer__picture {
    background-image: url(../images/footer-dekstop.png);
  }
}

.phone_container {
  position: relative;
  display: inline-block;
}
.phone_container::after {
  content: "";
  position: absolute;
  left: -230px;
  top: -60px;
  width: 260px;
  height: 80px;
}

.phone_dropdown {
  position: absolute;
  top: -40px;
  left: -216px;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  min-width: 200px;
  text-align: right;
  color: #fff;
  transform: translateY(-6px);
  transition: all 0.3s ease;
  display: none;
}
@media (min-width: 1024px) {
  .phone_dropdown {
    display: block;
  }
}
.phone_dropdown__label {
  margin: 8px 0 0;
  font-family: Cinzel, serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  vertical-align: middle;
  text-transform: uppercase;
}
.phone_dropdown__label:first-child {
  margin: 0;
}
.phone_dropdown__number {
  font-family: Cinzel, serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.phone_container:hover .phone_dropdown {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.body {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
